.container-carousel {
    
    height: 300px;
    width: 700px;
    overflow: hidden;
}
.carousel-img {
    height: -webkit-fill-available;
    width: -webkit-fill-available; 

}
.carousel-caption{
   color:black !important;
}



/* -webkit-fill-available */

/* #carousel-item{
    display: flex;
    justify-content: center;
} */
