.headingContainer{
    margin-top: 100px;
    text-align: center;
    color: white;
}

#section1{
    border: 1px solid #10326900;
    padding-bottom: 20vw;
    background: linear-gradient(to left, rgb(255, 241, 160), rgb(200, 155, 211), rgba(0, 255, 170, 0.5), rgb(221, 221, 221));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#section2{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    text-align: center; 
    
    
}

.img-section{
  display:flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

#section3{
    display:flex;
    margin-top: 100px;
    flex-direction: column;
    text-align: center;    
}


  .button-container{
    display: flex;
    justify-content: space-around
  }
  
  .signUp{
    display: flex;
    justify-content: center;
  }
  .signIn{
    display: flex;
    justify-content: center;
  }
  .errorMsg{
    display: flex;
    justify-content: center;
    color: red;
  }