.event-button-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    padding: 20px;
    width: 25vw;
}
.event-list-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:20px;
    margin-bottom: 100px;
}
.event-card-item{
    display: flex;
    text-align: center;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
}
.event-carousel-container{
    border: rgb(255, 217, 0)solid 1px;
    background: rgb(255, 241, 160);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.follow-carousel-container{
    border: rgb(194, 80, 223) solid 1px;
    background:rgb(200, 155, 211);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.follow-button-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    padding: 20px;
    width: 25vw;
}
@media (max-width: 599px) {
.vault-button-container{
    border: rgb(121, 121, 121) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px ;
    justify-content: space-evenly;
    background: rgb(221, 221, 221);
    flex-wrap: wrap;}
}
@media (min-width: 600px) {
.vault-button-container{
    border: rgb(121, 121, 121) 1px solid;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px ;
    justify-content: space-evenly;
    background: rgb(221, 221, 221);
    flex-wrap: wrap;}
}

.edit-profile-form-container{
    display: flex;
    margin-left: 20px;
    margin-right:20px;
    justify-content: center;
    margin-top: 50px;
}
.vault-image{
    height: 200px;

}
.test{
    padding-top: 50px;
    padding-bottom: 50px;
}
.my-vault-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.the-vault-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.fav-vault-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

@media (max-width: 620px) {
    .wrapper-carousel{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 320px;
    flex-wrap: wrap;
    }
  }
  
  @media (min-width: 620px) and (max-width: 999px) {
    .wrapper-carousel{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 360px;
    flex-wrap: wrap;
    }
  }

  @media (min-width: 1000px) {
    .wrapper-carousel{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
    flex-wrap: wrap;
    }
  }
  .sections-btn-container{
      display: flex;
      align-items: center;
  }
