
@media (max-width: 600px) {
    #follow-pic{
        width: auto;
        height: 300px;
    }
  }
  @media (min-width: 601px) {
    #follow-pic{
        width: auto;
        height: 300px;
    }
  }

.users-to-follow{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.users-list{
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
}

.user-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.user-image{
    margin-right: 25px;
}